{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="container-sm bg-primary-subtle border border-primary-subtle rounded-3">
      <form method="post">
        {% csrf_token %}
    
              {{form_senha.old_password.errors}}
              <div class="mb-3">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Senha antiga</label>
                </div>
                <div class="col-auto">
                  {{form_senha.old_password}}
                </div>
              </div>
              <div class="mb-3">
                <div class="col-auto">
                  {{form_senha.new_password1.errors}}
                  <label for="inputPassword6" class="col-form-label">Nova senha</label>
                </div>
                <div class="col-auto">
                  {{form_senha.new_password1}}
                </div>
              </div>
              <div class="mb-3">
                <div class="col-auto">
                  {{form_senha.new_password2.errors}}
                  <label for="inputPassword6" class="col-form-label">Confirmação de senha</label>
                </div>
                <div class="col-auto">
                  {{form_senha.new_password2}}
                </div>
              </div>
              <br>
              <div>
                  <button type="submit" class="btn btn-dark">Alterar </button>
              </div>
              <br>
        
      </form>
  </div>

        {% for message in messages %}
        <p id="messages">{{ message }}</p>
        {% endfor %}

        {{ form.errors }}
    </div>
{% endblock content %}