{% extends 'main.html' %}
{% load static %}

{% block content %}

<h1 class="mb-5 font-bold text-3xl">Welcome, {{ request.user.username }}</h1>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="./static/img/undraw_online_discussion_re_nn7e.svg" class="card-img-top" alt="exemplo">
          <div class="card-body">
            <h5 class="card-title">Puxar nome da Sala</h5>
            <p class="card-text">Puxar descrição</p>
            <br>
            <a href="#" class="btn btn-primary">Entrar na Sala</a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./static/img/undraw_online_discussion_re_nn7e.svg" class="card-img-top" alt="exemplo">
        <div class="card-body">
          <h5 class="card-title">Puxar nome da Sala</h5>
          <p class="card-text">Puxar descrição</p>
          <br>
          <a href="#" class="btn btn-primary">Entrar na Sala</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./static/img/undraw_online_discussion_re_nn7e.svg" class="card-img-top" alt="exemplo">
        <div class="card-body">
          <h5 class="card-title">Puxar nome da Sala</h5>
          <p class="card-text">Puxar descrição</p>
          <br>
          <a href="#" class="btn btn-primary">Entrar na Sala</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./static/img/undraw_online_discussion_re_nn7e.svg" class="card-img-top" alt="exemplo">
        <div class="card-body">
          <h5 class="card-title">Puxar nome da Sala</h5>
          <p class="card-text">Puxar descrição</p>
          <br>
          <a href="#" class="btn btn-primary">Entrar na Sala</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}