body{
    /* background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg); */
    background-color: #240046;
    color: #FFAD03;
}

nav{
    background-color: #1f2029;
    color: #FFAD03;
}

