{% extends 'main.html' %}
{% load static %}

{% block 'title' %}Adicionar Categoria{% endblock %}

{% block content %}

<div class="col m-5 text-amber-500 font-bold">
    <div class="row">
        <h3 class="text-3xl font-bold mb-5">Adicionar Categoria</h3>
    </div>

    <div class="row flex">
        <form method="post" action="{% url 'adicionar_categoria' %}">
            {% csrf_token %}

            <div class="col-sm-6 mb-3">
                <label class="form-label mb-2">Categoria:</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>

            <div class="mb-3">
                <button type="submit"
                    class="bg-amber-500 w-32 hover:bg-amber-600 font-bold py-2 px-4 text-fuchsia-700 rounded">Criar</button>
            </div>
        </form>
    </div>
    <div class="row w-1/2">
        {% if categories %}
        <table class="table ml-4 my-4 text-amber-500">
            <thead>
                <tr>
                    <th class="text-2xl">Categorias disponíveis</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td class="my-2">{{ category.name }}</td>
                    <td class="my-2"><a href="{% url 'deletar_categoria' category.id %}">Deletar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <a href="{% url 'criar_sala' %}"><button
            class="bg-amber-500 w-32 hover:bg-amber-600 font-bold py-2 px-4 text-fuchsia-700 rounded">Voltar</button></a>
</div>

{% endblock content %}