{% extends 'main.html' %}
{% load static %}

{% block content %}

<h1 class="mb-5 font-bold text-3xl">Bem vindo à {{ room_id }}, {{ user.first_name }}!</h1>

<head>
  {{ form.media }}
</head>

<div class="container text-center">
  <b>Arquivos de Aula</b>
</div>
<div class="col">
  <form id="form">
    <div style="border-radius: 10px;"></div>
    <div id="messages" style="background-color: #cbdfbd;height: 600px; "></div>

    <div class="input-group">
      <input type="hidden" name="username" value="{{ request.user.username }}">
      {{ form }}
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enviar</button>
    </div>

  </form>
</div>

<div class="container">
  <p>Avisos</p>
  <ul>
    {% for announcement in announcements %}
    <li type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{announcement.id}}">
      {{ announcement.title }}</li>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{announcement.id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ announcement.title }}</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ announcement.description }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}
</ul>
<a href="{% url 'avisos' room_id %}">Ver todos...</a>

<div class="container">
  <ul>
    <li>Últimas atualizações</li>
    {% if roadmaps %}
    {% for roadmap in roadmaps %}
    <li><a href="{% url 'roadmap' room_id roadmap.id  %}">Título: {{ roadmap.title }}</a></li>
    {% if roadmap.document_set.exists %}
    <ul>
      {% for document in roadmap.document_set.all %}
      <li>{{ document.title }}</li>
      <!-- Display other document attributes as needed -->
      {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum documento disponível para este guia</p>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>Sem guias de estudo disponíveis</p>
    {% endif %}
  </ul>
  <a href="{% url 'roadmaps' room_id %}">Ver todos...</a>
</div>


<script src="{% static 'js/chat.js' %}"></script>
{% endblock content %}