{% extends 'main.html' %}
{% load static %}
{% block 'title' %}Criar nova Sala{% endblock %}

{% block content %}

<div class="container mt-5">
    <img src="/static/img/coruja.png" width="72" height="72">


    <h1>
        Criar Sala Virtual
    </h1>
    <hr>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-sm-6 col-sm-6 mb-3">
            <label class="form-label mb-2">Username</label>
            <input type="text" class="form-control" name="username" value="{{request.user.username}}">
        </div>

        <div class="col-sm-6 mb-3">
            <label class="form-label mb-2">Nome:</label>
            <input type="text" class="form-control" name="nome" id="nome" required>
        </div>

        <div class="col-sm-6 mb-3">
            <label class="form-label mb-2">Descrição:</label>
            <input type="text" class="form-control" name="descricao" id="descricao" required>
        </div>

        <div class="col-sm-6 mb-3">
            <label class="form-label mb-2">Categoria:</label>
            <select name="categoria" id="categoria" class="form-control" required>
                <option selected disabled>Selecione Aqui</option>
                {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-6 mb-3">
            <label class="form-label mb-2">Limite:</label>
            <input type="number" class="form-control" name="limite" value="1" min="1" max="99" required>
        </div>

        <div class="mb-3">
            <label for="imagem" class="text-3xl mb-2" id="imagem">Imagem:</label>
            <input type="file" name="imagem" id="imagem">
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-success"><input type="submit" value="Criar"></button>
            <button type="button" class="btn btn-danger"><a href="{% url 'lobby' %}">Voltar</a></button>
        </div>
    </form>

</div>

{% endblock content %}