{% extends 'main.html' %}
{% load static %}
{% block 'title' %}Painel Chat{% endblock %}
{% block content %}


<div class="container mt-5">
    <img src="/static/img/coruja.png" width="72" height="72">


    <h1>Create Form</h1>
    <hr>


    <head>
        <title>Create Form</title>
        {{ form.media }}
    </head>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'roadmaps' room_id  %}"><input type="button" class="btn btn-secondary" value="Voltar"></a>

    </form>

    
</div>
{% endblock content %}