{% extends 'main.html' %}
{% load static %}
{% block 'title' %}Editar Sala{% endblock %}

{% block content %}
<div class="col m-5 text-amber-500 font-bold">
    <div class="row">
        <h3 class="text-3xl font-bold mb-5">Editar Sala</h3>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-sm-6 mb-3">
            <label class="form-label mb-2">Nome:</label>
            <input type="text" class="form-control" name="nome" id="nome" value="{{ room.name }}" required>
        </div>

        <div class="col-sm-6 mb-3">
            <label for="nome" class="form-label mb-2">Descrição:</label>
            <input type="text" class="form-control" name="descricao" id="descricao" value="{{ room.description }}"
                required>
        </div>

        <div class="col-sm-6 mb-3">
            <label class="form-label mb-2">Categoria:</label>
            <select name="categoria" id="categoria" class="form-control" required>
                <option selected disabled>Selecione Aqui</option>
                {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="imagem" class="text-3xl mb-2" id="imagem">Imagem:</label>
            <input type="file" name="imagem" id="imagem">
        </div>

        <div class="mb-3">
            <button type="button"
                class="bg-amber-500 w-32 hover:bg-amber-600 font-bold py-2 px-4 text-fuchsia-700 rounded"><input
                    type="submit" value="Atualizar"></button>
            <button type="button"
                class="bg-amber-500 w-32 hover:bg-amber-600 font-bold py-2 px-4 text-fuchsia-700 rounded"><a
                    href="{% url 'lobby' %}">Voltar</a></button>
        </div>
    </form>
</div>

{% endblock content %}