{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="container text-center">

  <div class="row align-items-start">
    <div class="col">
      <br><br><br>
      <h2 class="mb-5 font-bold text-3xl">Jornadas de estudos</h2>
      <p> Crie jornadas de estudos para seus alunos </p>
    </div>
    <div class="col">
      <img src="./static/img/undraw_environmental_study_re_q4q8.svg" class="card-img-top" alt="...">
    </div>
  </div>

  <br><br>
  <hr>
  <br><br>

  <div class="row align-items-start">
    <div class="col">
      <img src="./static/img/undraw_professor_re_mj1s.svg" class="card-img-top" alt="...">
    </div>
    <div class="col">
      <br><br><br>
      <h2 class="mb-5 font-bold text-3xl">Crie um mural personalizado</h2>
      <p>suba atividades, planos de estudos e mais na sua propria sala virtual</p>
    </div>
  </div>

  <br><br>
  <hr>
  <br><br>

  <div class="row align-items-start">
    <div class="col">
      <br><br><br>
      <h2 class="mb-5 font-bold text-3xl">Chats</h2>

      <p> Interaja com seus colegas de Sala </p>
    </div>
    <div class="col">
      <img src="./static/img/undraw_chatting_re_j55r.svg" class="card-img-top" alt="...">
    </div>
  </div>
  <br><br>
  <hr>
  <br><br>

</div>



  <h2 class="mb-2 font-bold text-3xl mt-1">Quer conhecer mais?
    <br>
    <a href="{% url 'login' %}" class="ml-2">Entre</a>
      ou
    <a href="{% url 'register' %}" class="ml-2">Cadastre-se</a>
</div>
</h2>


{% endblock content %}