{% extends 'main.html' %}
{% load static %}
{% block 'title' %}Lobby{% endblock %}

{% block content %}

<div class="col m-5 text-amber-500 font-bold">
  <div class="row">
    <h3 class="text-3xl font-bold mb-5">Lobby</h3>
  </div>

  <div class="row">
    <div class="row">
      <h3 class="text-2xl font-bold mb-2">Filtrar salas</h3>
    </div>
    <form method="get" action="{{ url }}">
      <div id="filters-div" class="flex mb-2">
        {{ room_filter.form.as_p }}
      </div>
      <button class="bg-amber-500 w-32 hover:bg-amber-600 font-bold mb-4 py-2 px-2 text-fuchsia-700 rounded"
        type="submit">Filter</button>
    </form>
  </div>

  <div class="row flex flex-row flex-wrap text-amber-500">
    {% for room in room_filter.qs %}
    <div class="col-4 w-1/4 bg-fuchsia-700 rounded overflow-hidden shadow-2xl mx-1">
      <div class="row">
        {% if room.image %}
        <img class="w-full h-72 p-1 px-2 rounded-2xl" src="{{ room.image.url }}" alt="Room image">
        {% else %}
        <img class="w-full h-72 p-1 px-2 rounded-2xl" src="{% static 'img/coruja.png' %}" class="card-img-top"
          alt="...">
        {% endif %}
      </div>
      <div class="row">
        <div class="font-bold text-xl mb-2">{{ room.name }}</div>
      </div>
      <div class="row h-24">
        <p class="text-amber-500 text-base">
          {{ room.description }}
        </p>
        <hr>
      </div>
      <div class="row mb-2">
        <p>Categoria: {{ room.category }}</p>
      </div>
      <div class="col flex flex-row justify-between items-center">
        {% if room.members.count < room.max_participants %} <a href="{% url 'chat' room.id %}"
          class="bg-amber-500 w-32 hover:bg-amber-600 font-bold mb-2 py-2 px-2 text-fuchsia-700 rounded">
          Entrar</a>
          {% else %}
          <ion-icon name="lock-closed"></ion-icon>
          {% endif %}
          <span><ion-icon name="people" class="mr-2"></ion-icon>
            {{ room.members.count }} / {{ room.max_participants}}</span>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
  </div>
</div>

{% block scripts %}
<script src="{% static 'js/filter_form.js' %}"></script>
{% endblock scripts %}

{% endblock %}