{% extends 'main.html' %}
{% load static %}
{% block 'title' %}Todas as mensagens{% endblock %}

{% block content %}

<div class="col m-5 text-amber-500 font-bold">
    <div class="row">
        <h3 class="text-3xl font-bold mb-5">Todas as mensagens</h3>
    </div>
    <a class="bg-amber-500 w-48 hover:bg-amber-600 font-bold py-2 px-2 text-fuchsia-700 rounded"
        href="{% url 'chat' room_id %}">Voltar</a>
    <ul class="mt-3">
        {% for message in all_messages %}
        <div class="py-2">
            <li>Mensagem: {{ message.text }}</li>
            <li>Usuário: {{ message.sender }}</li>
            <li>Horário: {{ message.time }}</li>
            <li>Dia: {{ message.date }}</li>
        </div>
        <hr>
        {% endfor %}
    </ul>

</div>

{% endblock content %}