{% extends 'main.html' %}
{% load static %}

{% block content %}

<h1 class="mb-5 font-bold text-3xl">Olá, {{ request.user.username }}!</h1>

<div class="container-sm">
    <h2> Detalhes do Usuario </h2>
    <br>
    <p> Email </p>
    <p> {{request.user.email}}</p>

    <a class="text-blue-700" href="{% url 'alterar_senha' %}" class="ml-2"><p> Alterar senha </p> </a>
    <a class="text-blue-700" href="{% url 'deslogar_usuario' %}" class="ml-2"><p> Logout </p> </a>
    
  </div>

{% endblock content %}