{% extends 'main.html' %}
{% load static %}

{% block content %}

<body style="background-image: linear-gradient(to bottom, #1f2029, #292a48, #3a3166, #523683, #72369d);">
    <div style="display: flex; align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;">

        <div style="display: flex;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;">

            <div class="container-sm text-3xl">
                <br>
                <h1 class="mb-5 font-bold text-3xl " style="color: #FFAD03;">Lobby</h1>
                <br>
                <br>
                <div class="row">
                    <div class="input-group mb-3">
                        {% for room in user_rooms %}
                        <div class="card" style="width: 18rem; margin: 1%;">
                            {% if room.image %}
                            <img src="{{ room.image.url }}" class="card-img-top" alt="...">
                            {% else %}
                            <img src="/static/img/coruja.png" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                                <p class="card-text">{{ room.description }}</p> <br>
                                <span>{{ room.members.count }} / {{ room.max_participants }}</span>
                                <a href="{% url 'chat' room.id %}" class="btn btn-primary">Entrar</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock content %}