{% extends 'main.html' %}
{% load static %}
{% block 'title' %}Salas de Estudos{% endblock %}

{% block content %}

<div class="container mt-5">
    <img src="/static/img/coruja.png" width="72" height="72">

    <h1>Salas virtuais disponiveis </h1>
    <hr>

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group mb-3">
                {% for room in user_rooms %}
                <div class="card" style="width: 18rem; margin: 1%;">
                    {% if room.image %}
                    <img src="{{ room.image.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="/static/img/coruja.png" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ room.name }}</h5>
                        <p class="card-text">{{ room.description }}</p> <br>
                        <span>{{ room.members.count }} / {{ room.max_participants }}</span>
                        <a href="{% url 'chat' room.id %}" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}