{% extends 'main.html' %}
{% load static %}

{% block content %}

<h1 class="mb-5 font-bold text-3xl ">Ola, {{ user.first_name }}!</h1>
<div class="container-sm text-3xl">
    <h2> Salas virtuais disponiveis </h2>
    <hr> 
    <br>

    <div class="container text-center">
        <div class="row">
            <div class="col-3">
                <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Categorias</option>
                        <option value="1">Programação</option>
                        <option value="2">Desenvolvimento Front-end</option>
                        <option value="3">Desenvolvimento Back-end</option>
                        <option value="3">Segurança</option>
                        <option value="3">Banco de dados</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Aplicar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center m-10">


        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/coruja.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Laboratorio de Software</h5>
                        <p class="card-text">Card Sala Exemplo </p> <br>
                        <a href="#" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">

                <div class="card" style="width: 18rem;">
                    <img src="/static/img/coruja.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Laboratorio de Software</h5>
                        <p class="card-text">Card Sala Exemplo </p> <br>
                        <a href="#" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col">

                <div class="card" style="width: 18rem;">
                    <img src="/static/img/coruja.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Laboratorio de Software</h5>
                        <p class="card-text">Card Sala Exemplo </p> <br>
                        <a href="#" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}