html {
    scroll-behavior: smooth;
}



form{
    display: inline-block;
    position: relative;
}

button {

    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    border: black;
}

input, select{ 
    display: block;
    width: 13em;
    background: rgb(239, 237, 241);
    
}

a {
    color: rgb(255, 246, 246);
}
