<!-- Estrutura obrigatória para o uso de arquivos dentro da pasta static. No caso, temos o logo da Deloitte que será usado na navbar de todas as páginas. -->
{% load static %}

<nav class="py-2 bg-fuchsia-950 px-4 sticky z-50 flex justify-between font-bold text-amber-500 shadow-md">
    <div class="flex flex-row">
        {% if user.is_authenticated %}
        <a href="{% url 'lobby' %}">
            <img class="mx-3" src="{% static 'img/coruja.png' %}" width="60" height="60">
        </a>
        {% else %}
        <a href="{% url 'landing' %}">
            <img class="mx-3" src="{% static 'img/coruja.png' %}" width="60" height="60">
        </a>
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a class="mx-3 mt-3" href="{% url 'criar_sala' %}">Criar sala virtual</a>
        {% endif %}
        <a class="mx-3 mt-3" href="{% url 'rooms' %}">Minhas salas</a>
        {% endif %}
    </div>
    <div class="flex flex-row">
        <div class="mt-3">
            {% if user.is_authenticated %}
            <b class="mx-2">Hello, {{ request.user.first_name }}!</b>
            <a href="{% url 'perfil' %}"><ion-icon name="person" class="mx-2"></ion-icon></a>
            <a href="{% url 'deslogar_usuario' %}"><ion-icon name="log-out"></ion-icon></a>
            {% else %}
            <a href="{% url 'login' %}" class="mx-2">Login</a>
            <a href="{% url 'register' %}" class="mx-2">Cadastre-se</a>
            {% endif %}
        </div>
    </div>
</nav>
<hr>