<nav class="flex items-center justify-between flex-wrap bg-blue-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">Sala de Estudos Virtuais</span>
    </div>
  
    <div class="font-semibold text-xl tracking-tight"> <!--w-full block flex-grow lg:flex lg:items-center lg:w-auto font-semibold text-xl tracking-tight-->
  
      
      <div class="text-sm lg:flex-grow">
        <a href="http://127.0.0.1:8000/" class="text-gray-100 hover:text-white mr-4">
          Listagem
        </a>
        <a href="http://127.0.0.1:8000/criar_sala/" class="text-gray-100 hover:text-white mr-4">
          Criação
        </a>
        <a href="#responsive-header" class="text-gray-100 hover:text-white">
          Sair
        </a>
      </div>
    </div>
  </nav>

{% extends 'base.html' %}

{% block body %}
<button class="bg-orange-500 text-gray-50 font-semibold py-2 px-4 rounded"><a href="{% url 'criar_sala' %}">Criar Sala +</a></button>

<div class="flex flex-wrap -mx-3 mb-2">

{% for sala in salas %}
<table class="table table-striped table-hover">

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria</th>
            <th scope="col">Limite de Participantes</th>
            <th scope="col">Criação</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{ sala.nome }}</td>
            <td>{{ sala.descricao }}</td>
            <td>{{ sala.get_categoria_display }}</td>
            <td>{{ sala.limite_participantes }}</td>
            <td>{{ sala.data_criacao }}</td>
            <td><button class="bg-orange-500 text-gray-50 font-semibold py-2 px-3 rounded"><a href="{% url 'editar_sala' sala.id %}">Atualizar</a></button></td>
            <td><button class="bg-blue-800 text-gray-50 font-semibold py-2 px-3 rounded"><a href="{% url 'excluir_sala' sala.id %}">Excluir</a></button></td>
          </tr>
         
        </tbody>
      </table>
    {% endfor %}
</ul>
</table>
</div>

{% endblock %}