.inputs-mudar-senha {
    background-color: transparent;
    color: #FFAD03;
}

#id_old_password, #id_new_password1, #id_new_password2 {
    width:80%;
    border-radius: 5px;
    background-color: #292a48;
    
}