{% extends 'main.html' %}
{% load static %}
{% block 'title' %}Perfil{% endblock %}

{% block content %}

<div class="col m-5 text-amber-500 font-bold">
  <div class="row mb-2 flex">
    <img src="{% static 'img/coruja.png' %}" class="w-48">
  </div>
  <div class="row">
    <h3 class="text-3xl font-bold mb-5">{{ request.user.username }}</h3>
  </div>

  <div class="row">
    <div class="text-2xl my-2">
      Username: {{request.user.username }}
    </div>
    <div class="text-2xl my-2">
      Nome: {{ request.user.first_name }} {{ request.user.last_name }}
    </div>
    <div class="text-2xl my-2">
      E-mail: {{ request.user.email }}
    </div>
  </div>
  <div class="row mt-4 text-center">
    <a class="bg-amber-500 w-40 hover:bg-amber-600 font-bold m-2 py-2 px-2 text-fuchsia-700 rounded"
      href="{% url 'alterar_senha' %}">Alterar senha</a>
    <a class="bg-amber-500 w-40 hover:bg-amber-600 font-bold m-2 py-2 px-2 text-fuchsia-700 rounded"
      href="{% url 'deslogar_usuario' %}">Sair</a>
  </div>
</div>

{% endblock %}